name: Build and Package

on:
  push:
    branches: [ master ]
    tags: [ "v*" ]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-package:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and test
        uses: ./.github/actions/build
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}

      - name: Get image ref
        run: |
          IMAGE_REF=${REGISTRY}/${GITHUB_REPOSITORY@L}
          echo "IMAGE_REF=$IMAGE_REF" >> ${GITHUB_ENV}

      - name: Get Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_REF }}

      - name: Tag image
        run: docker tag ${{ env.IMAGE_REF }} ${{ steps.meta.outputs.tags }}

      - name: Push to registry
        run: docker push ${{ steps.meta.outputs.tags }}

      - name: Get image digest
        run: |
          IMAGE_DIGEST=$(echo $(docker inspect --format='{{index .RepoDigests 0}}' ${{ env.IMAGE_REF }}) | cut -d"@" -f2)
          echo "IMAGE_DIGEST=$IMAGE_DIGEST" >> "$GITHUB_ENV"

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.IMAGE_REF }}
          subject-digest: ${{ env.IMAGE_DIGEST }}
          push-to-registry: true
